html, body {
    height:100%; 
    margin: 0;
    background: url('../images/sunset_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
  background: transparent;
}

.top-bar .menu {
  background: transparent;
}

.index_content {
    height: 100%;
}

.register_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered_content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.5);
}

.register_and_login_button {
    color: black !important;
}

.font-white {
    color: #fff;
}