[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent-websocket = "*"
flask-socketio = "*"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
