{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lobby{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y small-up-2 medium-up-3", id="player_card">
    {% for player in players %}
      <div class="cell">
          <div class="card" style="width: 300px;">
            <div class="card-divider">
              This is card of player
            </div>
            <div class="card-section">
              <h4>Player id - {{ player.player_id }}</h4>
              <p>Player Name - {{ player.username }}</p>
            </div>
          </div>
      </div>
    {% endfor %} 
  </div>
</div>
<h1>LOBBY ID = {{ lobby_id }}</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('join', {room_id: '{{ lobby_id }}', username: '{{ g.user.username }}', user_id: '{{ g.user.id }}'});
    });
    
    socket.on('json', data => {
      if ('{{ player.id }}' !== data.userId){
        showPlayerCard(data)
      }
    });

    function showPlayerCard(data) {
       $('#player_card').append(`<div class="cell">
          <div class="card" style="width: 300px;">
            <div class="card-divider">
              This is card of player
            </div>
            <div class="card-section">
              <h4>Player id - ${data.userId} </h4>
              <p>Player Name - ${data.username}  </p>
            </div>
          </div>
      </div>`);
    } 
</script>
{% endblock %}